//-/////////////////////////////////////////////////////////////////////////////
//-                                                                           //
//-               Copyright (c) 2018, Cauldron Development LLC                //
//-                           All rights reserved.                            //
//-                                                                           //
//-   This file ("the software") is free software: you can redistribute it    //
//-   and/or modify it under the terms of the GNU General Public License,     //
//-    version 2 as published by the Free Software Foundation. You should     //
//-    have received a copy of the GNU General Public License, version 2      //
//-   along with the software. If not, see <http://www.gnu.org/licenses/>.    //
//-                                                                           //
//-   The software is distributed in the hope that it will be useful, but     //
//-        WITHOUT ANY WARRANTY; without even the implied warranty of         //
//-    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU      //
//-             Lesser General Public License for more details.               //
//-                                                                           //
//-     You should have received a copy of the GNU Lesser General Public      //
//-              License along with the software.  If not, see                //
//-                     <http://www.gnu.org/licenses/>.                       //
//-                                                                           //
//-              For information regarding this software email:               //
//-            "Joseph Coffland" <joseph@cauldrondevelopment.com>             //
//-                                                                           //
//-/////////////////////////////////////////////////////////////////////////////

script#admin-main-template(type="text/x-template")
  .admin-main-page
    h2 Users
    .admin-users
      table
        tr
          th Email
          td.input: input(v-model="new_user_email")
          th Provider
          td.input
            select(v-model="new_user_provider")
              option(v-for="provider in providers", :value="provider")
                | {{provider}}

          td.actions
            .fa.fa-plus(@click="add_user", title="Create new user.")

        tr.head
          th Avatar
          th Name
          th Created
          th Last Seen
          th Actions

        tr(v-for="user in users")
          td.avatar
            img(:src="user.avatar", draggable="true",
              @dragstart="dragstart($event, user)")
          td.name(:title="user.name") {{user.name}}
          td.created {{user.created}}
          td.last {{user.last_used}}
          td.actions
            .fa.fa-cog(@click="edit_user(user)", title="Edit user.")
            .fa.fa-trash(@click="delete_user(user)", title="Delete user.")

    h2 Groups
    .admin-groups
      table
        tr.head
          th Name
          th Actions

        tr
          td.input: input(v-model="new_group", @keyup.enter="add_group")
          td.actions
            .fa.fa-plus(@click="add_group", title="Create new group.")

        tr(v-for="group in groups", @drop="drop($event, group)",
          @dragover="dragover")
          td.name {{group}}
          td.actions
            .fa.fa-cog(@click="edit_group(group)", title="Edit group.")
            .fa.fa-trash(@click="delete_group(group)",
              v-if="group != 'admin'", title="Delete group.")
