//-/////////////////////////////////////////////////////////////////////////////
//-                                                                           //
//-               Copyright (c) 2018, Cauldron Development LLC                //
//-                           All rights reserved.                            //
//-                                                                           //
//-   This file ("the software") is free software: you can redistribute it    //
//-   and/or modify it under the terms of the GNU General Public License,     //
//-    version 2 as published by the Free Software Foundation. You should     //
//-    have received a copy of the GNU General Public License, version 2      //
//-   along with the software. If not, see <http://www.gnu.org/licenses/>.    //
//-                                                                           //
//-   The software is distributed in the hope that it will be useful, but     //
//-        WITHOUT ANY WARRANTY; without even the implied warranty of         //
//-    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU      //
//-             Lesser General Public License for more details.               //
//-                                                                           //
//-     You should have received a copy of the GNU Lesser General Public      //
//-              License along with the software.  If not, see                //
//-                     <http://www.gnu.org/licenses/>.                       //
//-                                                                           //
//-              For information regarding this software email:               //
//-            "Joseph Coffland" <joseph@cauldrondevelopment.com>             //
//-                                                                           //
//-/////////////////////////////////////////////////////////////////////////////

script#admin-user-template(type="text/x-template")
  .admin-user
    h2
      .back
        .fa.fa-arrow-left(@click="back", title="Return to main page")
      | Editing User {{uid}}

    .avatar
      img(:src="user.avatar")

    table.user
      tr
        th Email
        td.email: input(v-model="user.email")
      tr
        th Name
        td.name: input(v-model="user.name")
      tr
        th Avatar
        td.avatar: input(v-model="user.avatar")
      tr
        th Enabled
        td.enabled: input(type="checkbox", v-model="user.enabled")
      tr
        th Created
        td.created {{user.created}}
      tr
        th Last Seen
        td.last_Seen {{user.last_used}}
      tr
        th Actions
        td.actions
          .fa.fa-trash(@click="user_delete", title="Delete user")
          .fa.fa-save(@click="user_save", title="Save changes")

    h2 Login Associations
    table.associations
      thead
        tr
          th Email
          td.input: input(v-model="association_new.email")
          th Provider
          td.input
            select(v-model="association_new.provider")
              option(v-for="provider in providers", :value="provider")
                | {{provider}}
            td.actions
              .fa.fa-plus(@click="user_association_set",
                title="Set user login provider association.")

        tr
          th Provider
          th Email
          th Name
          th Avatar
          th Actions

      tbody
        tr(v-for="association in user.associations")
          td.provider {{association.provider}}
          td.email(@click="user.email = association.email")
            | {{association.email}}
          td.name(@click="user.name = association.name") {{association.name}}
          td.avatar: img(:src="association.avatar",
            @click="user.avatar = association.avatar")
          td.actions
            .fa.fa-trash(@click="user_association_remove(association)",
              title="Remove login association.")

    h2 Groups
    table.groups
      thead
        tr
          th Name
          th Status
          th Actions

      tbody
        tr(v-for="group in groups")
          td.group {{group.name}}
          td.status {{group.member ? 'Member' : 'Nonmember'}}
          td.actions
            .fa.fa-minus(v-if="group.member", @click="user_group_remove(group)",
              title="Remove user from group")
            .fa.fa-plus(v-if="!group.member", @click="user_group_add(group)",
              title="Add user to group")
