//-/////////////////////////////////////////////////////////////////////////////
//-                                                                           //
//-               Copyright (c) 2018, Cauldron Development LLC                //
//-                           All rights reserved.                            //
//-                                                                           //
//-   This file ("the software") is free software: you can redistribute it    //
//-   and/or modify it under the terms of the GNU General Public License,     //
//-    version 2 as published by the Free Software Foundation. You should     //
//-    have received a copy of the GNU General Public License, version 2      //
//-   along with the software. If not, see <http://www.gnu.org/licenses/>.    //
//-                                                                           //
//-   The software is distributed in the hope that it will be useful, but     //
//-        WITHOUT ANY WARRANTY; without even the implied warranty of         //
//-    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU      //
//-             Lesser General Public License for more details.               //
//-                                                                           //
//-     You should have received a copy of the GNU Lesser General Public      //
//-              License along with the software.  If not, see                //
//-                     <http://www.gnu.org/licenses/>.                       //
//-                                                                           //
//-              For information regarding this software email:               //
//-            "Joseph Coffland" <joseph@cauldrondevelopment.com>             //
//-                                                                           //
//-/////////////////////////////////////////////////////////////////////////////

script#admin-group-template(type="text/x-template")
  .admin-group
    h2
      .back
        .fa.fa-arrow-left(@click="back", title="Return to main page")
      | Editing Group {{group}}

    h2(v-if="loading") Loading...

    template(v-if="!loading")
      h2(v-if="!members.length") No members.
      .members(v-if="members.length")
        h2 Members
        table
          thead
            tr
              th Avatar
              th User
              th Actions

          tbody
            tr(v-for="user in members")
              td.avatar: img(:src="user.avatar")
              td.name {{user.name}}
              td.actions
                .fa.fa-minus(@click="remove_user(user)",
                  title="Remove user from group.")

      h2(v-if="!nonmembers.length") No nonmembers.
      .nonmembers(v-if="nonmembers.length")
        h2 Nonmembers
        table
          thead
            tr
              th Avatar
              th User
              th Actions

          tbody
            tr(v-for="user in nonmembers")
              td.avatar: img(:src="user.avatar")
              td.name {{user.name}}
              td.actions
                .fa.fa-plus(@click="add_user(user)",
                  title="Add user to group.")
