//-/////////////////////////////////////////////////////////////////////////////
//-                                                                           //
//-               Copyright (c) 2018, Cauldron Development LLC                //
//-                           All rights reserved.                            //
//-                                                                           //
//-   This file ("the software") is free software: you can redistribute it    //
//-   and/or modify it under the terms of the GNU General Public License,     //
//-    version 2 as published by the Free Software Foundation. You should     //
//-    have received a copy of the GNU General Public License, version 2      //
//-   along with the software. If not, see <http://www.gnu.org/licenses/>.    //
//-                                                                           //
//-   The software is distributed in the hope that it will be useful, but     //
//-        WITHOUT ANY WARRANTY; without even the implied warranty of         //
//-    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU      //
//-             Lesser General Public License for more details.               //
//-                                                                           //
//-     You should have received a copy of the GNU Lesser General Public      //
//-              License along with the software.  If not, see                //
//-                     <http://www.gnu.org/licenses/>.                       //
//-                                                                           //
//-              For information regarding this software email:               //
//-            "Joseph Coffland" <joseph@cauldrondevelopment.com>             //
//-                                                                           //
//-/////////////////////////////////////////////////////////////////////////////

script#api-method-template(type="text/x-template")
  .api-method(:class="klass")
    a(:name="name")
    .api-path(@click="open = !open",
      :title="'Click to ' + (open ? 'collapase.' : 'expand.')")
      a.api-link(:href="'#' + name", title="Direct link to endpoint.",
        @click.stop="")
        .fa.fa-link
      .fa(:class="'fa-caret-' + (open ? 'down' : 'right')")
      | {{method}} {{path}}

    template(v-if="open")
      table.api-args(v-if="config.args")
        tr
          th Argument
          th Type
          th Default
          th Description

        api-arg(v-for="config, name in config.args", :name="name",
          :config="config")

      .api-help(v-if="config.help"): span(v-html="config.help")
      .api-allow(v-if="config.allow")
        | #[b Allow:] {{auth_list(config.allow)}}
      .api-deny(v-if="config.deny") #[b Deny:] {{auth_list(config.deny)}}
      .api-example: pre {{example(method, path, config)}}
