//-/////////////////////////////////////////////////////////////////////////////
//-                                                                           //
//-               Copyright (c) 2018, Cauldron Development LLC                //
//-                           All rights reserved.                            //
//-                                                                           //
//-   This file ("the software") is free software: you can redistribute it    //
//-   and/or modify it under the terms of the GNU General Public License,     //
//-    version 2 as published by the Free Software Foundation. You should     //
//-    have received a copy of the GNU General Public License, version 2      //
//-   along with the software. If not, see <http://www.gnu.org/licenses/>.    //
//-                                                                           //
//-   The software is distributed in the hope that it will be useful, but     //
//-        WITHOUT ANY WARRANTY; without even the implied warranty of         //
//-    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU      //
//-             Lesser General Public License for more details.               //
//-                                                                           //
//-     You should have received a copy of the GNU Lesser General Public      //
//-              License along with the software.  If not, see                //
//-                     <http://www.gnu.org/licenses/>.                       //
//-                                                                           //
//-              For information regarding this software email:               //
//-            "Joseph Coffland" <joseph@cauldrondevelopment.com>             //
//-                                                                           //
//-/////////////////////////////////////////////////////////////////////////////

script#api-category-template(type="text/x-template")
  .api-category(:class="open ? 'opened' : 'closed'")
    a(:name="name")

    .api-category-title(@click="open = !open",
      :title="'Click to ' + (open ? 'collapase.' : 'expand.')")

      a.api-link(:href="'#' + name", title="Direct link to API category.",
        @click.stop="")
        .fa.fa-link

      .fa.fa-compress(@click.stop="collapse", title="Collapse all endpoints.")

      .fa.fa-expand(@click.stop="expand", title="Expand all endpoints.")

      .fa(:class="'fa-caret-' + (open ? 'down' : 'right')")
      span(v-html="config.title || name")

    template(v-if="open")
      p.api-help(v-if="config.help"): span(v-html="config.help")

      .api-allow(v-if="config.allow") #[b Allow:] {{auth_list(config.allow)}}
      .api-deny(v-if="config.deny") #[b Deny:] {{auth_list(config.deny)}}

      .api-endpoint(v-for="endpoint, path in config.endpoints")
        api-method(v-for="_config, method in endpoint", :method="method",
          :path="path", :config="_config")
