meta(charset="utf-8")

- var cdn = "//cdnjs.cloudflare.com/ajax/libs"
link(rel="stylesheet", type="text/css",
  href=cdn + "/font-awesome/4.6.3/css/font-awesome.min.css")

script(src=cdn + "/jquery/3.1.1/jquery.min.js")
script(src=cdn + "/moment.js/2.15.1/moment.min.js")
script(src=cdn + "/vue/2.5.16/vue.js")
