#incompatible-browser
  h1 Incompatable browser.
  p
    | We appologize for the inconvenience but your browser
    | is too old to use this Web app.
  p
    | Please <a href="http://whatbrowser.org/">update your browser</a>.
