//-/////////////////////////////////////////////////////////////////////////////
//-                                                                           //
//-               Copyright (c) 2018, Cauldron Development LLC                //
//-                           All rights reserved.                            //
//-                                                                           //
//-   This file ("the software") is free software: you can redistribute it    //
//-   and/or modify it under the terms of the GNU General Public License,     //
//-    version 2 as published by the Free Software Foundation. You should     //
//-    have received a copy of the GNU General Public License, version 2      //
//-   along with the software. If not, see <http://www.gnu.org/licenses/>.    //
//-                                                                           //
//-   The software is distributed in the hope that it will be useful, but     //
//-        WITHOUT ANY WARRANTY; without even the implied warranty of         //
//-    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU      //
//-             Lesser General Public License for more details.               //
//-                                                                           //
//-     You should have received a copy of the GNU Lesser General Public      //
//-              License along with the software.  If not, see                //
//-                     <http://www.gnu.org/licenses/>.                       //
//-                                                                           //
//-              For information regarding this software email:               //
//-            "Joseph Coffland" <joseph@cauldrondevelopment.com>             //
//-                                                                           //
//-/////////////////////////////////////////////////////////////////////////////

script#modal-template(type="text/x-template")
  .modal(v-if="show")
    .modal-wrapper
      .modal-header: slot(name="header")
      .modal-body: slot(name="body")
      .modal-footer
        slot(name="footer")
          button(v-for="b in bnts", @click="click(b)",
            :title="b.title", :class="b.klass")
            | {{b.label}}
            .fa(v-if="typeof b.icon != 'undefined'", :class="'fa-' + b.icon")
