noscript
  h1 This Web app requires Javascript.
  p
    | We appologize for the inconvenience but you must
    | <a href="http://enable-javascript.com/">enable Javascript</a>
    | to use this Web app.
