/******************************************************************************\

                          This file is part of JmpAPI.

               Copyright (c) 2014-2019, Cauldron Development LLC
                              All rights reserved.

          The JmpAPI Webserver is free software: you can redistribute
         it and/or modify it under the terms of the GNU General Public
          License as published by the Free Software Foundation, either
        version 2 of the License, or (at your option) any later version.

          The JmpAPI Webserver is distributed in the hope that it will
         be useful, but WITHOUT ANY WARRANTY; without even the implied
            warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
         PURPOSE.  See the GNU General Public License for more details.

       You should have received a copy of the GNU General Public License
                     along with this software.  If not, see
                        <http://www.gnu.org/licenses/>.

                 For information regarding this software email:
                                Joseph Coffland
                         joseph@cauldrondevelopment.com

\******************************************************************************/

@import 'templates/common.styl'
@import 'templates/user-login.styl'
@import 'templates/modal.styl'

[draggable]
  -moz-user-select none
  -khtml-user-select none
  -webkit-user-select none
  user-select none

#header
  text-align center

#content
  .message
    min-height 2em
    font-size 120%
    padding 0.5em
    border-radius 3px
    border 2px solid transparent

    &.error
      border 2px solid red

    &.success
      border 2px solid #666

  .admin-main-page, .admin-group, .admin-user
    padding 1em
    border-radius 3px
    border 1px solid #ddd
    background #fff

  .actions, .back
    @import 'templates/fa-button.styl'

  table
    border-collapse collapse
    width 100%

    tr.disabled
      background #efefef

    tr:nth-child(even)
      background #fafafa

      &.disabled
        background #eaeaea

    td, th
      border 1px solid #eee
      padding 4px
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      text-align left

    tbody tr:nth-child(even)
      background #f7f7f7

    tr.head
      background #ddd

    .actions, .groups, .users, .avatar
      text-align center

    .avatar img
      width 32px
      vertical-align middle
      border-radius 3px

  .back
    display inline-block
    margin-right 0.5em

  .admin-users, .admin-groups
    max-height 400px
    overflow-y auto

  .admin-users
    .name, .email
      max-width 12em

    .created, .last
      font-size 80%

  .admin-groups
    td.input
      width 99%

      input
        width 31em

  .admin-users
    input
      max-width 13em

  .admin-user
    > h2 img
      margin 0 0.5em
      width 40px
      vertical-align middle
      border-radius 3px

    div.avatar img
      max-width 128px
      border-radius 3px

    .user
      margin-bottom 1em

      td, th
        border 0

      th
        text-align right

      td
        width 100%
        text-align left

      input:not([type])
        width 34em

    td.status
      width 100%

    .associations
      .name, .email
        cursor pointer

        &:hover
          text-decoration underline

      .avatar img
        border-radius 5px
        cursor pointer
        border 2px solid transparent

        &:hover
          border 2px solid #666

  .admin-group
    td.name
      width 100%
