[Unit]
Description=A high performance easy to configure web API server.
After=network.target

[Service]
User=jmpapi
ExecStart=/usr/bin/jmpapi-run %i
WorkingDirectory=/var/lib/jmpapi
Restart=always
StandardOutput=null
UMask=0002

[Install]
WantedBy=multi-user.target
